@model IEnumerable<Fog.Models.CompetitionModel>
@{
    ViewData["Title"] = "Competition Forum";
}

    <h1>@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Competition Name</th>
                <th>Game Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strDate)
                </td>
                <td>
                    @Html.ActionLink("Info", "CompetitionInfo", "Competition", new { CompID = item.CompID })
                </td>
            </tr>
            }
        </tbody>
    </table>