@using Microsoft.AspNetCore.Http;
@using DataLibrary.Models

@model Fog.Models.PlayerInfoModel

@{
    ViewData["Title"] = "Player Info";
}

<h1>@Model.PlayerInfo.DisplayName</h1>
<div class="container-fluid">
    <p>Purchased Games</p>
    <div class="row">
        <div class="col-9">
            <table class="table table-responsive-sm table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GameModel game in Model.PurchasedGames.Take(5))
                    {
                        <tr>
                            <td>@game.Title</td>
                            <td>@game.Genre</td>
                            <td>
                                @Html.ActionLink("View", "View", new { id = game.GameID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-3">
            @if (Context.Session.Get("Username") != null)
            {
                @if (Model.IsFriend)
                {
                    <button type="button" class="btn btn-dark btn-block"
                            onclick="location.href='@Url.Action("UnfriendPlayer", "Home",
                            new { Username = Model.PlayerInfo.Username })'">
                        Unfriend Player
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-dark btn-block"
                            onclick="location.href='@Url.Action("FriendPlayer", "Home",
                            new { Username = Model.PlayerInfo.Username })'">
                        Friend Player
                    </button>
                }
            }

            @if (Model.PlayerInfo.StreamID > 0)
            {
                <button type="button" class="btn btn-dark btn-block"
                        onclick="location.href='@Url.Action("StreamInfo", "Stream", new { StreamID = @Model.PlayerInfo.StreamID })'">
                    View Stream Page
                </button>
            }
            @if (Context.Session.Get("Username") != null && Context.Session.GetInt32("Permission") == 2)
            {
                <button type="button" class="btn btn-dark btn-block" data-toggle="modal"
                        data-target="#RemovePlayerModal">
                    Remove Account
                </button>
            }
        </div>
    </div>

    <p>Friends</p>
    <div class="row">
        <div class="col-9">
            <table class="table table-responsive-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataLibrary.Models.PlayerModel friend in Model.Friends.Take(5))
                    {
                        <tr>
                            <td>@friend.DisplayName</td>
                            <td>
                                @Html.ActionLink("View", "PlayerInfo", "Home", new { id = friend.Username })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <p>Followed Streams</p>
    <div class="row">
        <div class="col-9">
            <table class="table table-responsive-sm table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Link</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataLibrary.Models.StreamModel stream in Model.FollowedStreams.Take(5))
                    {
                        <tr>
                            <td>@stream.Title</td>
                            <td>@stream.Link</td>
                            <td>
                                @Html.ActionLink("View", "StreamInfo", "Stream", new { id = stream.StreamID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <p>Wishlist</p>
    <div class="row">
        <div class="col-9">
            <table class="table table-responsive-sm table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Price</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GameModel game in Model.Wishlist.Take(5))
                    {
                        <tr>
                            <td>@game.Title</td>
                            <td>@game.Genre</td>
                            <td>@game.price</td>
                            <td>
                                @Html.ActionLink("View", "View", new { id = game.GameID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="RemovePlayerModal" tabindex="-1" role="dialog"
     aria-labelledby="removeAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeAccountModalLabel">Remove Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Are you sure you want to remove this account?</p>
                <p>This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep Account</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="location.href='@Url.Action("RemovePlayer", "Login")'">
                    Remove Account
                </button>
            </div>
        </div>
    </div>
</div>