@model DataLibrary.Models.DevStatsModel
@{
    ViewData["Title"] = "Dev Stats";
}

<h1>Dev Stats</h1>

<div class="container-fluid">
    <div class="row mb-4">
        <h4>Games</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Purchases</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.gameStats)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Purchases)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.ActionLink("View", "GameInfo", "Marketplace", new { GameID = item.GameID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <h4>Genre</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Purchases</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.genreStats)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.purchases)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>